---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Layout from '../layouts/Layout.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
<Layout title="Home">

<section>
  <h1>Jaden Au</h1>
  <p>Audio Engineering & Music Production</p>

  <p>
    I am a Music Technology and Production student at Oregon State University.
    I specialize in live sound, mixing, and spatial audio.
  </p>

  <a href="/portfolio">View Portfolio</a>
</section>

</Layout>
		</main>
		<Footer />
	</body>
</html>
